
    
 

<div class= "container">
    <nav class="nav">
 <a  routerLink="/acceuil" class="nav-item is-active" active-color="orange">HOME</a>
 <a  routerLink="/first-component" class="nav-item" active-color="green">CONTACT</a>
 <a  routerLink="/first-component" class="nav-item" active-color="blue">ABOUT</a>
 <a  routerLink="/first-component" class="nav-item" active-color="red">LOACATIONS</a>
 <a  routerLink="/first-component" class="nav-item" active-color="rebeccapurple">TESTIMONIALS</a>
 <span class="nav-indicator"></span>
</nav>

  
</div >












<!--



<mat-toolbar color="primary">
  <div class="toolbar-content">
    <div>
      <div>
        <a [routerLink]="['/']">Dashboard</a>
      </div>
    </div>

    <div class="toolbar-content-right">
      <div>
        <a class="header-item" [routerLink]="['/store']"> Votre Boutique</a>
      </div>
      <div class="header-item" *ngIf="authState" (click)="logout()">Se déconnecter</div>
      <div class="header-item" *ngIf="isLogged" (click)="logout()">Se déconnecter</div>
      <div>
        <a class="header-item" [routerLink]="['/adminauth']">Admin Panel</a>
      </div>
    </div>
  </div>

</mat-toolbar>








-->

